.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #f3a400;
  position: relative;
  button {
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  p {
    text-indent: 1em;
    font-size: 1.5em;
    margin: 2% 9%;
  }
  span {
    text-indent: 1em;
    font-size: 1.5em;
    margin: 2% 9%;
  }
  h2 {
    text-indent: 1em;
    font-size: 1.8em;
    margin-left: 10%;
    width: 70%;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    h3 {
      margin: 0.3em;
    }
  }
  .txt {
    display: flex;
    font-size: 0.8em;
    color: #000;
    button {
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}

.why {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  padding-left: 8em;
  z-index: 5;
}
.field {
  padding: 0.5em;
  background-color: #d7d3d3;
  color: #f3a400;
  border-radius: 2em;
  border: 1px solid rgb(193, 177, 177);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15em;
  box-shadow: 1px 3px 1px 1px darken(#f3a200, 15%);
  h3 {
    margin-top: 1em;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 2px black, 0 0 1em #151413;
  }
  .whyText {
    font-size: 1.2em;
  }
  button {
    margin-top: 1em;
    border: 1px solid #0a0a09;
    width: 80%;
    color: #f3a400;
  }
}

.img0 {
  position: absolute;
  top: 27%;
  right: 9%;
  width: 30%;
  height: 40%;
  border-radius: 10%;
  box-shadow: 1px 1px 7px 1px darken(#ffa500, 14%);
  transition: 0.6s;
  display: block;
  &:hover {
    overflow: hidden;
    transform: scale(1.2);
    // transform: translate(3em, 2em)
  }
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8 {
  position: absolute;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img1 {
  top: 3em;
  left: 4%;
}
.img2 {
  top: 40em;
  left: 14%;
}
.img3 {
  top: 5em;
  left: 90%;
}
.img4 {
  top: 7em;
  left: 68%;
}
.img5 {
  top: 37em;
  left: 88%;
}
.img6 {
  top: 30em;
  left: 10%;
}
.img7 {
  top: 32em;
  left: 44%;
}
.img8 {
  top: 40em;
  left: 74%;
}

.arrowDawn {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  bottom: 2em;
  margin: 0 46%;
  animation: 2s move;
  &:hover {
    stroke: #000;
  }
}
@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
    stroke: #ffa500;
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 1366px) {
  section {
    content {
      font-size: 0.9em;
    }
  }

  .why {
    width: 50%;
    padding-left: 10em;
  }
  .field {
    h3 {
      margin: 0 0.4em;
    }
  }
  .img0 {
    right: 7%;
  }
}
@media only screen and (max-width: 768px) {
  section {
    .content {
      font-size: 0.6em;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img0 {
    right: 4%;
    top: 20%;
    right: 5%;
  }
}
@media only screen and (max-width: 425px) {
  section {
    .content {
      font-size: 0.7em;
    }
  }
  .content {
    h2 {
      width: 70%;
      margin-left: 5em;
    }
    .text {
      p {
        width: 70%;
        margin-left: 5em;
      }
    }
  }
  .why {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    padding: 0 8em;
  }
  .field {
    margin: 0.4em;
    .whyText {
      span {
        margin-left: 0;
      }
    }
  }

  .text {
    margin-top: 4em;
  }

  .img0 {
    display: none;
  }
}
