.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #f3a400;
  position: relative;
  
}

.content {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.8em;
    margin: 1% 9%;
    width: 70%;
  }
  .text {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
  }
}

.why{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 55%;
  padding-left: 2em;
  button:hover{
    background-color: #f3a200;
  }
}
.field{
padding: 0.5em;
background-color: #eee;
border-radius: 2em;
margin: 0.2em;
display: flex;
flex-direction: column;
align-items: center;

text-align:center ;

width: 20em;
box-shadow: 1px 3px 1px 0px darken(#f3a200, 15%);
  h3{
      margin-top: 1em;
      font-size: 1.3em;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px 2px black, 0 0 1em #f3a200;
  }
  .whyText{
    font-size: 1.2em;
  }
}


.img0 {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 30%;
  height: 40%;
  border-radius: 10%;
  box-shadow: 1px 1px 7px 1px darken(#ffa500, 15%);
  transition: 0.6s;
  display: block;
  &:hover {
    overflow: hidden;
    transform: scale(1.2);
    // transform: translate(3em, 2em)
  }
}

.img1 {
  position: absolute;
  top: 3em;
  left: 4%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img2 {
  position: absolute;
  top: 40em;
  left: 14%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img3 {
  position: absolute;
  top: 5em;
  left: 90%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img4 {
  position: absolute;
  top: 7em;
  left: 68%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img5 {
  position: absolute;
  top: 37em;
  left: 88%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img6 {
  position: absolute;
  top: 30em;
  left: 10%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img7 {
  position: absolute;
  top: 2em;
  left: 44%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}
.img8 {
  position: absolute;
  top: 40em;
  left: 74%;
  width: 4em;
  height: 4em;
  opacity: 0.4;
}



.arrowDawn {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  bottom: 2em;
  margin: 0 46%;
  animation: 2s move;
  &:hover {
    stroke: #000;
  }
}
@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
    stroke: #ffa500;
    
  }
  100% {
    transform: translateY(0%);
  }
}