.container{
  width: 100vw;
  height: 100vh;
  background-color: #ffcc99;
  color:#ff4f00;
}

.content{
  display: flex;
  flex-direction: column;
  span{
    font-size: 1.8em;
    margin:  1% 13%;
    width: 50%;
  }
  .text{
    display: flex;
    flex-direction: column;
  }
}