.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; 
  color: #ff4f00;
  width: 100vw;
  height: 5em;
  background-color: #ffcc99;
  
  // 
  z-index: 3;
  padding: 0 5%;
  &::after {
    position: absolute;
    top: 4%;
    width: 1px;
    height: 1px;
    content: '';
    border-bottom: 1px solid #000;
  }
  a{
    color: #ff4f00;
  }
}
.social{
  display: flex;
  align-items: center;
  margin: 0 1%;
  position:absolute;
  right: 10%; 
}

svg {
  width: 40px;
  height: 40px;
  margin: 0 1em;
  cursor: pointer;
  opacity: 0.8;
}

// .logo {
//   background-image: url(../public/image/1233.svg);
//   width: 230px;
//   height: 106px;
//   background-repeat: no-repeat;
//   background-position: center center;
// }
.phone {
  // color:inherit;
  font-size: 1.7em;
  // margin-right: 10%;
}
.menu{
  width: 3em;
  font-size: 1.5em;
  ul{
    display: grid;
    cursor: pointer;
    grid-template-columns: 3.5em 3.5em 3.5em 3.5em 3.5em ;
    gap:1.5em;
    
  }
  
}
