.header {
  position:relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #ff4f00;
  width: 100vw;
  height: 5em;
  
  
  
  z-index: 3;
  padding: 0 5%;

  a {
    color: #ff4f00;
  }
}

.social {
  display: flex;
  align-items: center;
  margin: 0 1%;
  position: absolute;
  right: 10%;
}

svg {
  width: 40px;
  height: 40px;
  margin: 0 1em;
  cursor: pointer;
  opacity: 0.8;
}


.phone {
  // color:inherit;
  font-size: 1.7em;
  // margin-right: 10%;
}
.menu {
  width: 4em;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #000, 0 0 1em #fff;
  .ul {
    display: flex;
    align-items: center;
    cursor: pointer;
    li {
      white-space: nowrap;
      margin-left: 1em;
      width: 4em;
      height: 1em;
      
    }
  }
}
