.main {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-image: url(../public/image/background.jpg);
  position: relative;
 
  
}
.main::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.content{
  color: #fff;
}